---
layout: default
title: 董云成的个人网站
---

<div id="主页">
  <h1>开发相关</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h1>生活杂感</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>开源项目</h1>
  <ul class="posts">
    <li><a href="https://github.com/doycode/mlgorithms">mlgorithms:</a> 机器学习库，更新中...</li>
  </ul>
</div>