<section class="post-comments">
  {% if site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };

    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    
  {% elsif site.comment.duoshuo %}
    <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.comment.duoshuo }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
	
	{% elsif site.comment.valine.enable %}
	<!--div id="valine-container"></div>
	<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
	<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
	<script>
    new Valine({
        el: '#comments',
        app_id: '{{ site.comment.valine.leancloud_appid }}',   //这里变量的取值在网站配置文件里_config.yml
        app_key: '{{ site.comment.valine.leancloud_appkey }}', //这里变量的取值在网站配置文件里_config.yml
        placeholder:'{{ site.comment.valine.placeholder }}'    //这里变量的取值在网站配置文件里_config.yml
    });</script-->
	
	
  {% endif %}
  
  
  <div id="valine-container"></div>
	<script src="/js/av-min.js"></script>
	<script src='/js/Valine.min.js'></script>
	<script>
    var v = new Valine({
        el: '#comments',
        appId: 'ATfCB3p2vdFv8XTwLGR7Srly-gzGzoHsz',   //这里变量的取值在网站配置文件里_config.yml
        appKey: 'A0SCAc1DUAgmhtfYtDze8fQ0', //这里变量的取值在网站配置文件里_config.yml
        placeholder:''    //这里变量的取值在网站配置文件里_config.yml
    })
	v.render('valine-container')
	</script>
  
  
  <!--使用gitalk来当做文章的评论部分-->
	  <!--div id="gitalk-container"></div>
	   <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
	   <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
	   <script src="/js/md5.min.js"></script>
	  <script>
		   var gitalk = new Gitalk({
			  clientID: '6935d23d9fdf60b81c39',
			  clientSecret: '0e283e3bcfcd7d591adc3f179082a3b64413f69e',
			  repo: 'doycode.github.io',
			  owner: 'doycode',
			  admin: ['doycode'],
			  id:  md5(location.href),      // Ensure uniqueness and length less than 50
			  distractionFreeMode: true  // Facebook-like distraction free mode
			})

			gitalk.render('gitalk-container')
		</script-->
		
		
  
  
  
</section>